.rent_section {
  position: relative;
  background-color: var(--color1);
  height: 500px;
}
.rent_section h1 {
  position: absolute;
  top: 15px;
  left: 10px;
  background-color: transparent;
  z-index: 100;
  color: var(--color5);
  font-synthesis: weight;
  font-weight: bold;
}
.rent_section h3 {
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: transparent;
  z-index: 100;
  color: var(--color5);
  font-synthesis: weight;
  font-weight: bold;
}
.rent_section p {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  z-index: 100;
}
.rent_section .img1 {
  position: absolute;
  background-color: transparent;
  width: 40%;
  top: 70px;
  left: 10px;
}
.rent_section .img2 {
  position: absolute;
  background-color: transparent;
  width: 40%;
  top: 70px;
  right: 10px;
}
.rent_section .img3 {
  position: absolute;
  background-color: transparent;
  width: 30%;
  top: 30px;
  right: 10px;
}
.rent_section .img4 {
  position: absolute;
  background-color: transparent;
  width: 30%;
  bottom: 30px;
  left: 10px;
}
.rent_section a {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 5px;
  border: solid 1px var(--color2);
  border-radius: 4px;
  background-color: var(--color1);
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.rent_section :where(.img1, .img2, p) {
  view-timeline-name: --phone;
  view-timeline-axis: block;
  animation-timeline: --phone;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
.rent_section a i, .rent_section a i svg {
  background-color: transparent;
  line-height: 0;
}

@media (min-width: 768px) {
  .rent_section a {
    right: 46%;
  }
  
}

@media (min-width: 1024px) {
  .rent_section {
    height: 700px;
  }
  .rent_section h1 {
    font-size: 4rem;
  }
  .rent_section h3 {
    font-size: 2.5rem;
    top: 100px;
  }
  .rent_section p {
    font-size: 2rem;
    padding: 0px 100px;
  }
  .rent_section .img1 {
    width: 20%;
    top: 70px;
    left: 40px;
  }
  .rent_section .img2 {
    width: 20%;
    top: 70px;
    right: 40px;
  }
  .rent_section .img3 {
    width: 15%;
    top: 30px;
    right: 170px;
  }
  .rent_section .img4 {
    width: 15%;
    bottom: 30px;
    left: 200px;
  }
  .rent_section a {
    right: 40px;
    bottom: 40px;
    font-size: 2rem;
    padding: 0px 10px;
  }
  .rent_section a i svg {
    font-size: 2rem;
  }
}